 /* Always set the map height explicitly to define the size of the div
 /* element that contains the map. */
#map {
  height: 50%;
  width: 50%;
  display: block;
  margin: 0 auto;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}

/* Non map related */
.intro{
  text-align: center;
}

/* form position */
form{

  display: flex;
  justify-content: center;
  align-content: center; 
}

input{
  font-size: 30px;
}

.results{
  width: 50%;
  height: 50px;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}