 /* Always set the map height explicitly to define the size of the div
 /* element that contains the map. */
#map {
  height: 50%;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: serif;
  /* background: url('https://i.imgur.com/ADR5N8j.png') no-repeat center center fixed; */
  background: url('pics/trail.jpg') no-repeat center center fixed;
  background-size: cover;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}



/* Non map related */
.intro{
  text-align: center;
  
}

.text{
  text-align: center;
  color: black;
  font-weight: 900;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* change background to new color */
.bg{
  background-color: rgb(255, 255, 255, 0.7);
}
/* form position */
form{

  display: flex;
  justify-content: center;
  align-content: center; 
}

input{
  font-size: 30px;
}

/* weather */
.weather{
  /* background-color: white; */
  width: 75%;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 2%;
}

.weather-container{
  display: flex;
  flex-direction: column;
}

/* all results */
.results{
  width: 70%;
  height: 400px;
  overflow: scroll;
  /* border: 1px solid black; */
  display: block;
  margin: 0 auto;

  /* background-color: white; */
}

.result{
  /* border-bottom: 1px solid black;
  border-top: 1px solid black; */
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.result-img{
  width: 200px;
  height: 200px;
  padding: 1%;
}

.hidden{
  display: none;
}

