 /* Always set the map height explicitly to define the size of the div
 /* element that contains the map. */
#map {
  height: 50%;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  background: url('pics/trail.jpg') no-repeat center center fixed;
  background-size: cover;
 
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}



/* Non map related */
.intro{
  text-align: center;
}

.text{
  text-align: center;
  color: black;
  font-weight: 900;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.ptext{
  font-size: 40px;
  font-weight: 900;
}

/* change background to new color */
.bg{
  background-color: rgb(255, 255, 255, 0.7);
}
/* form position */
form{
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin-bottom: 2%;
}

input{
  width: 80%;
  color: black;
  font-size: 30px;
  background-color: rgb(255, 255, 255, 0.7);
}

/* weather */
.weather{
  /* background-color: white; */
  width: 75%;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 2%;
}

.weather-container{
  display: flex;
  flex-direction: column;
}
/* current weather text */
.current{
  text-align: center;
}

/* all results */
.results{
  width: 80%;
  height: 400px;
  overflow: scroll;
  display: block;
  margin: 0 auto;
}

.result{
  /* border-bottom: 1px solid black;
  border-top: 1px solid black; */
  text-align: center;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.result-img{
  width: 200px;
  height: 200px;
  padding: 1%;
}

.result a{
  margin-top: 10%;
}

.error{
  text-align: center;
  color: red;
  font-weight: bolder;
}

.hidden{
  display: none;
}

@media screen and (min-width: 768px){
  .weather-container{
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1024px){
  #map{
    width: 48%;
    float: left;
    margin-left: 1%;
  }
  .results{
    width: 48%;
    height: 430px;
    float: right;
    margin-top: -35%;
    margin-right: 1%;
  }
  .weather{
    height: 250px;
    margin-top: 38%;
  }

  .weather p:first{
    text-align: center;
  }
  

}

@media screen and (min-width: 1550px){
  .results{
    margin-top: -28%;
  }

  .weather{
    margin-top: 30%;
  }
}